@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
   
    display: flex;
        justify-content: center;  
        align-items: center; 
}
body{
      background: #f5eeed;
        justify-content: center;  
        align-items: center; 
       
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* css to reset all the designs */

/* add styles on elements */

.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: #222;
}

.image{
    height: 40px;
    width:100%;
    border-radius: 10px;
}

   



/* courosil*/
.carousel-inner {
    height:100%;
}

.carousel-item {
    height:100%;
}


.item:hover {
    transform: translateX(-3px);
}
 
.hel{
    margin:15px;
    padding:20px;
}

@media (max-width: 768px) {
  .hel {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}
.item {
    flex: 1 1 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
    background: linear-gradient(45deg, #727fc3 0%, #4115bb 100%);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 20);
    transition: transform 0.3s;
    margin: 10%;
    color:white;
   margin-top: 10px;
     height:20vh;
     width:30vh;
}

/* Large devices */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .item {
        flex: 1;
    }
}

/* Small devices */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}


nav{
  background: #fafbfc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color:#fcfafa;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background:#f7f8fa;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #faf7f7;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #120303;
  font-size: 17px;
  background: #0f0401;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #1e0802;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #fafafa;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: rgb(14, 1, 1);
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
.buttony {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 30%;
  background: tomato;
  color: #fff;
  box-shadow: 0 4px 8px rgba(10, 10, 10, 20);
  margin: 18px;

}
        .tutorial-card {
          height: 100%;
          text-align:center;
          padding:20px;
    justify-content: center; /* Center horizontally */
    align-items: center; 
      }
      
.bg1{
  background: linear-gradient(45deg, #0D99E6 0%, #7ACDC9 100%);
}


.button-container {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em 1.2em 0.35em 1.2em;
    font-size: 14px;
    border-radius: 0.9em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    margin-left:25%;
    width:50%;
    margin-bottom:10px;
    text-decoration: none; /* This line removes the underline */
}

.icon-container {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.button-container:hover .icon-container {
    width: calc(100% - 0.6em);
}

.icon-container svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.button-container:hover .icon-container svg {
    transform: translateX(0.1em);
}

.button-container:active .icon-container {
    transform: scale(0.95);
}
