body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    background-color: gray;
}
 
.yogi {
    padding: 20px;
    text-align: center;
    align-items:middle;
    justify-content: center;
    border-radius:15px;
}
.buttony {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 30%;
    background: tomato;
    color: #fff;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 20);
    margin: 8px;
}
.imagey {
    border-radius: 5px;
}
.nml {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
            align-items: center;
}

.containary{
    text-align: center;
    border-radius:15px;
}